# Binaries
ryx-node
ryx-cluster
ryx-dashboard

# Runtime files
.ryx-cluster.pids

# Editor temporary files
*.kate-swp
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.iml
